.container
	.row
		.col-sm-offset-4.col-sm-4
			form#myform.form-signin(role='form')
				h2.form-signin-heading Вход/Регистрация
				input#clinic_id.form-control(type='login', placeholder='Логин', required='', autofocus='', name="id_clin")
				input.form-control(type='password', placeholder='Пароль', required='')
				a.btn.btn-lg.btn-info.btn-block(type='', ng-click='check_clinic()') Вход
				a.btn.btn-lg.btn-primary.btn-block(type='', href='registration') Регистрация новой клиники
