.container
	.row
		.col-sm-8
			.input-group
				span.input-group-addon Поиск
				input#filter.form-control(type='filter', placeholder='Поиск...', ng-model="searchText")
	.row
		.col-sm-8
			table.table.table-striped
				thead
					tr
						th Номер записи
						th Дата 
						th Время
						th Специалист
						th Пациент
						th Телефон
						th Статус
				tbody.searchable(ng-repeat="record in records | filter:searchText")
					tr
						td {{record.num}}
						td {{record.date}}
						td {{record.time}}
						td {{record.doctor}}
						td {{record.patient}}
						td {{record.phone}}
						td
							input(type="checkbox")
		.col-sm-4
			a.btn.btn-lg.btn-info.btn-block.btn_clinic(type='submit', href='registration') 			
				.text_wrap Редактирование общей информации о клинике
			a.btn.btn-lg.btn-primary.btn-block.btn_clinic(type='submit', data-target='#addModal', data-toggle='modal') 
				.text_wrap Редактирование информации о специалистах
