.container
	form.form-signin(role='form')
		h2.form-signin-heading Вход/Регистрация
		input.form-control(type='login', placeholder='Логин', required='', autofocus='')
		input.form-control(type='password', placeholder='Пароль', required='')
		a.btn.btn-lg.btn-info.btn-block(type='submit', href='index_clinic') Вход
		a.btn.btn-lg.btn-primary.btn-block(type='submit', href='registr_clinic') Регистрация новой клиники
