extends layout_clinic

block body

	.container
		.row
			.col-sm-8
				.input-group
					span.input-group-addon Поиск
					input#filter.form-control(type='filter', placeholder='Поиск...')
				table.table.table-striped
					thead
						tr
							th Номер записи
							th Дата 
							th Время
							th Специалист
							th Пациент
							th Телефон
							th Статус
					tbody.searchable
						tr
							td 001
							td 12/01/2016
							td 13.30
							td Иванов И.И. (Стоматолог)
							td Пупкин
							td 11111
							td
								input(type="checkbox")
						tr
							td 345
							td 12/01/2016
							td 11.00
							td Петров И.И. (Кардиолог)
							td Мария
							td 22222
							td
								input(type="checkbox")
						tr
							td 444
							td 12/01/2016
							td 20.00
							td Сидоров И.И. (Окулист)
							td ымывмва
							td 44444
							td
								input(type="checkbox")
						tr
							td 221
							td 12/01/2016
							td 10.15
							td Петечкин И.И. (Массажист)
							td некто
							td 66666
							td
								input(type="checkbox")
			.col-sm-4
				a.btn.btn-lg.btn-success.btn-block.btn_clinic(type='submit' href='index') 
					.text_wrap Записать пациента на прием
				a.btn.btn-lg.btn-info.btn-block.btn_clinic(type='submit' href='registr_clinic') 					
					.text_wrap Редактирование общей информации о клинике
				a.btn.btn-lg.btn-primary.btn-block.btn_clinic(type='submit' href='edit_clinic') 
					.text_wrap Редактирование информации о специалистах

	script(src='js/lib/angular/angular.js')
	script(src='js/app.js')
	script(src='js/services.js')
	script(src='js/controllers.js')
	script(src='js/filters.js')
	script(src='js/directives.js')
