doctype html
html(lang='en' ng-app='myApp')
	head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	// The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
	meta(name='description', content='')
	meta(name='author', content='')
	link(rel='icon', href='../../favicon.ico')
	
	title Taganrog Med
	// Bootstrap core CSS
	link(href='css/bootstrap.min.css', rel='stylesheet')
	link(href='css/bootstrap-datetimepicker.min.css', rel='stylesheet')
	link(href='css/star-rating.min.css', rel='stylesheet')
	link(href='css/theme-krajee-svg.min.css', rel='stylesheet')
	link(href='css/app.css', rel='stylesheet')

body
	// Static navbar
	nav.navbar.navbar-default.navbar-static-top
		.container-fluid
			.row
				.navbar-header
					button.navbar-toggle(data-toggle='collapse', data-target='#navbar_mob')
						span.sr-only  
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='index') ТаганрогМедtttttttttt
				#navbar_mob.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(href='index') Главная
						li
							a(href='#', data-target='#mod_Cancel', data-toggle='modal') Отменить запись на прием
					ul.nav.navbar-nav.navbar-right
					ul.nav.navbar-nav.navbar-right
						li
	
						a(href='auth_clinic') Клиникам
	#mod_Cancel.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
			.modal-dialog
				.modal-content
					.modal-header
						button.close(data-dismiss='modal', aria-hidden='true')
						h4.modal-title Отмена записи на прием*
					.modal-body
						form.form-horizontal
							.form-group
								label.control-label.col-sm-3(for='Record') Номер записи:
								.col-sm-9
									input#Rec.form-control(type='text', placeholder='Введите номер вашей записи')
							.form-group
								label.control-label.col-sm-3(for='email') E-mail:
								.col-sm-9
									input#mail.form-control(type='text', placeholder='Введите e-mail, указанный при оформлении записи')
							h6 *Примечание: отмену записи можно оформить только, если запись на прием осуществлялась через онлайн-запись с указанием почтового адреса. Необходимо ввести почтовый адрес, указанный при оформлении и номер записи.
					.modal-footer
						button.btn.btn-primary(type='button') Подтвердить отмену

	div(ng-view)
		block body 


	//Bootstrap core JavaScript
	// Placed at the end of the document so the pages load faster
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
	script(src='js/bootstrap.min.js')
	script(src='js/moment-with-locales.min.js')
	script(src='js/bootstrap-datetimepicker.min.js')
	script(src='js/star-rating.min.js')
	script(src='js/lib/angular/angular.js')
	script(src='js/app.js')
	script(src='js/services.js')
	script(src='js/controllers.js')
	script(src='js/filters.js')
	script(src='js/directives.js')

