extends layout

block body
	.container.container-jumborton 
		.jumbotron
			h1 ТаганрогМед
			.input-group 
				input.form-control(type='text', placeholder='Введите фамилию врача/специализацию/услугу')
				span.input-group-btn
					button.btn.btn-default(type='button') Поиск
	.container
			p Результаты по поиску @стоматолог\Иванов\Узи@
				.panel.panel-default.panel-profile
					.panel-heading
					.panel-body
						img.foto-img.panel-profile-img(src='img/med-ico.png')
						h5.panel-title Доктор Айболит 
						p Врач
						p Оценка 5.0
						p Стаж 3года
						p "АфрикаДокторс"
						p Стоимость 1000руб
						a.btn.btn-primary-outline.btn-sm  Подробнее...


		div(ng-view)

	script(src='js/lib/angular/angular.js')
	script(src='js/app.js')
	script(src='js/services.js')
	script(src='js/controllers.js')
	script(src='js/filters.js')
	script(src='js/directives.js')
