doctype html
html(lang='en')
	head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	// The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
	meta(name='description', content='')
	meta(name='author', content='')
	link(rel='icon', href='../../favicon.ico')
	
	title TaganrogMed
	// Bootstrap core CSS
	link(href='css/bootstrap.min.css', rel='stylesheet')
	link(href='css/app.css', rel='stylesheet')

body

	.container
		.row
			.col-sm-4
			.col-sm-4
				form.form-signin(role='form')
					h2.form-signin-heading Вход/Регистрация
					input.form-control(type='login', placeholder='Логин', required='', autofocus='')
					input.form-control(type='password', placeholder='Пароль', required='')
					a.btn.btn-lg.btn-info.btn-block(type='submit' href='index_clinic') Вход
					a.btn.btn-lg.btn-primary.btn-block(type='submit' href='registr_clinic') Регистрация новой клиники

		
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
	script(src='js/bootstrap.min.js')
	script(src='js/lib/angular/angular.js')
	script(src='js/app.js')
	script(src='js/services.js')
	script(src='js/controllers.js')
	script(src='js/filters.js')
	script(src='js/directives.js')
