extends layout_clinic

block body

	h2 Регистрация
	form.form-horizontal
		.form-group
			label.control-label.col-sm-3(for='Name') Название:
			.col-sm-9
				input#Name.form-control(type='text', placeholder='Введите название')
		.form-group
			label.control-label.col-sm-3(for='specialization') Специализация:
			.col-sm-9
				input#special.form-control(type='text', placeholder='Введите специализацию')
		.form-group
			label.control-label.col-sm-3(for='postalAddress') Адрес:
			.col-sm-9
				textarea#postalAddress.form-control(rows='3', placeholder='Введите адрес')
		.form-group
			label.control-label.col-sm-3(for='inputEmail') Email:
			.col-sm-9
				input#inputEmail.form-control(type='email', placeholder='Email')
		.form-group
			label.control-label.col-sm-3(for='phoneNumber') Телефон:
			.col-sm-9
				input#phoneNumber.form-control(type='tel', placeholder='Введите номер телефона')
		.form-group
			label.control-label.col-sm-3(for='inputPassword') Пароль:
			.col-sm-9
				input#inputPassword.form-control(type='password', placeholder='Введите пароль')
		.form-group
			label.control-label.col-sm-3(for='confirmPassword') Подтвердите пароль:
			.col-sm-9
				input#confirmPassword.form-control(type='password', placeholder='Введите пароль ещё раз')

		.form-group
			.col-sm-offset-3.col-sm-9
				label.checkbox-inline
					input(type='checkbox', value='agree')
					|   Я согласен с 
					a(href='#') условиями
					| .
	br
	.form-group
		.col-sm-offset-3.col-sm-9
			input.btn.btn-primary(type='submit', value='Регистрация')
			input.btn.btn-default(type='reset', value='Очистить форму')

		

	script(src='js/lib/angular/angular.js')
	script(src='js/app.js')
	script(src='js/services.js')
	script(src='js/controllers.js')
	script(src='js/filters.js')
	script(src='js/directives.js')
